.venv/
ha.log
ha.pid
*.png
config/.storage/
config/.cloud/
config/www/
config/dashboards/
config/packages/
config/camera.jpg
config/home-assistant*.db*
config/home-assistant.log*
config/.HA_VERSION
config/deps/
config/tts/
config/blueprints/
config/automations.yaml
config/scripts.yaml
config/scenes.yaml
config/secrets.yaml
config/.ha_run.lock
config/custom_components/panel_mock/__pycache__/
